@model IEnumerable<ApplicationCore.Models.ServiceCategory>

@{
    ViewData["Title"] = "Index";
}
<div class="container my-5">
    <!--astuce pour eviter les chevauchement-->
    <h1>Index</h1>

    <p>
        <a asp-action="AddServiceCategory" class="btn btn-primary">Create New</a>
    </p>
    <div class="row g-4">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card category-card h-100">
                    <div class="card-body">
                        <h3 class="card-title">@item.Name</h3>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer text-end">
                        <a asp-action="EditServiceCategory" asp-route-id="@item.Id" class="btn btn-sm btn-primary me-2">Edit</a>
                        <a asp-action="DeleteServiceCategory" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
